@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Default style */
*{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: 'Roboto';
}

/*

Header/Navbar
  background-color: #F5F8F3;

Container/KontaktButton/Hover color
  background-color: #2B3D24;
*/


.Header{
position: sticky;
top: 0;
width: 100%;
height: 90px;
display: block;
background-color: #F5F8F3;
z-index: 100;
}

.InnerHeader{
width: 80%;
height: 100%;
display: block;
margin: 0 auto;
background-color: #F5F8F3;
}

.LogoContainer{
height: 100%;
display: table;
float: left;
}

/* Logo style */
.LogoContainer a {
color: #424141;
height: 100%;
display: table-cell;
vertical-align: middle;
}
.LogoContainer h1{
  font-size: 25px;
  font-weight: 500;
}

.Logo {
  float: left;
  width: 50px;
  height: 50px;
}

.Navigation{
float: right;
height: 100%;
}

.Navigation a{
height: 100%;
display: table;
float: left;
padding: 0px 13px;

}

.Navigation a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #424141;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5ms;

  }
   
  /* Change color when hover */
  .Navigation a li:hover{
  color:  #2B3D24;
  text-decoration: underline;
  }


/*Kontakt os button*/
.KontaktOs{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2B3D24;
  border-radius: 8px;
  border-style: none;
  font-family: 'Roboto';
  color: #F5F8F3;
  cursor: pointer;
  font-size: 17px;  
}

.KontaktOs:hover{
  scale: 110%;
}

.Container1{
  max-width: 80%;
  margin: auto;
}

.Row{
  display: flex;
  flex-wrap: wrap;
}

footer{
  background-color: #24262b;
  padding: 70px 0;
}

.FooterColumn{
  width: 25%;
  line-height: 1.5;
}
.FooterColumn h4{
  font-size: 18px;
  color: #f5f5f5;
  margin-bottom: 30px;
  font-weight: 800;
  

}
/*Margin, except last element*/
.FooterColumn ul li:not(:last-child){
  margin-bottom: 10px;
}
.FooterColumn ul li{
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 300;
  display: block;
}

.FooterColumn ul li a{
  font-size: 16px;
  color: #f5f5f5;
  font-weight: 300;
  display: block;
}

.FooterColumn ul li a:hover{
  scale: 110%;
}

/* Login */
.LoginContainer{
align-items: center;
background: #1690A7;
display: flex;
flex-direction: column;
height: 100vh;
justify-content: center;
}

.LoginLabel{
color: #888;
font-size: 18px;
padding: 10px;
}

.LoginForm {
background: #fff;
border: 2px solid #ccc;
border-radius: 15px;
padding: 30px;
width: 500px;
}

.LoginHeader{
margin-bottom: 40px;
text-align: center;
}

.LoginInput{
border: 2px solid #ccc;
border-radius: 5px;
display: block;
margin: 10px auto;
padding: 10px;
width: 95%;
}

.LoginButton {
background: #555;
border: none;
border-radius: 5px;
color: #fff;
float: right;
margin-right: 10px;
padding: 10px 15px;
}

.LoginButton:hover {
opacity: .8;
}

.LoginError{
background: #F2DEDE;
border-radius: 5px;
color: #A94442;
margin: 20px auto;
padding: 10px;
width: 95%;
}
/* product page*/
.ProductPage {
  background-color: #a4d792;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
}

/* SearchBar */
.SearchBar {
  display: flex;
  align-items: center;
  margin-left: 16px; /* Adjust the margin as needed */
}

.SearchBar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.SearchBar button[type="submit"] {
  padding: 8px 12px;
  background-color: #a4d792;
  border: none;
  border-radius: 4px;
  color: #424141;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

/* header for b2b */
.Headerb2b {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: block;
  background-color: #f5f5f5;
  z-index: 100;
}

.InnerHeaderb2b {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.LogoContainerb2b {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Logo style */
.LogoContainerb2b h1 {
  padding-top: 18px;
  color: #424141;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 200;
}

/* Logo style */
.LogoContainerb2b span {
  font-weight: 800;
}

.Navigationb2b {
  float: right;
  height: 100%;
}

.Navigationb2b a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 18px;
}

/* Kontakt os button */
.KontaktOsb2b {
  padding: 10px;
  margin-top: 1px;
  background-color: #a4d792;
  border-radius: 8px;
  height: 40px;
  border-style: none;
  font-family: 'Roboto';
  color: #424141;
  cursor: pointer;
  font-size: 17px;
}

 /* Shoppingcart */
.CartButton {
  padding: 10px;
  margin-top: 20px;
  background-color: #a4d792;
  border-radius: 8px;
  height: 40px;
  border-style: none;
  font-family: "roboto";
  color: #424141;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartButton:hover {
  background-color: #8ac77f; /* Adjust the background color as desired */
}

.CartButton img {
  width: 20px; /* Adjust the width as desired */
  height: 20px; /* Adjust the height as desired */
  margin-bottom: 8px;
}

.KontaktOsb2b:hover {
  scale: 110%;
}

.Navigationb2b a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #424141;
  font-size: 17px;
}

/* Change color when hover */
.Navigationb2b a li:hover {
  color: #a4d792;
  scale: 110%;
}


.ShopByProduct {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;

}

.GridContainerProduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Three columns of equal width */
  grid-gap: 10px; /* Spacing between grid items */
  margin-left: 145px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.GridContainerProduct .GridItem:nth-child(1) {
  background-image: url(img/product/agurker.png);
  height: 200px;
}

.GridContainerProduct .GridItem:nth-child(2) {
  background-image: url(img/product/tomater.png);
}

.GridContainerProduct .GridItem:nth-child(3) {
  background-image: url(img/product/salat.png);
}

.GridContainerProduct .GridItem:nth-child(4) {
  background-image: url(img/product/peberfrugt.png);
}

.GridContainerProduct .GridItem:nth-child(5) {
  background-image: url(img/product/konserves.jpeg);
}


.ShopByBrand {
  text-align: center;
  margin-bottom: 20px;

}

.GridContainerBrand {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns of equal width */
  grid-gap: 10px; /* Spacing between grid items */
  margin-left: 145px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.GridItem {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: black;
  text-shadow: 1px, 1px, 1px black;
}

.GridItem:nth-child(1),
.GridItem:nth-child(2),
.GridItem:nth-child(3),
.GridItem:nth-child(4),
.GridItem:nth-child(5) {
  background-color: white;
}

.GridContainerBrand .GridItem:nth-child(1) {
  background-image: url(img/brands/katrineogalfreds.png);
  height: 500px;
}

.GridContainerBrand .GridItem:nth-child(2) {
  background-image: url(img/brands/pedersensudvalgte.png);
  height: 500px;
}

.ShopByEco {
  text-align: center;
  margin-bottom: 20px;

}

.GridContainerEco {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* six columns of equal width */
  grid-gap: 10px; /* Spacing between grid items */
  margin-left: 145px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.GridContainerEco .GridItem:nth-child(1) {
  background-image: url(img/product/annatomatereco.jpeg);
  height: 125px;
}

.GridContainerEco .GridItem:nth-child(2) {
  background-image: url(img/product/tomataugust.jpeg);
}

.GridContainerEco .GridItem:nth-child(3) {
  background-image: url(img/product/satmmeagurkeco.jpeg);
}

.GridContainerEco .GridItem:nth-child(4) {
  background-image: url(img/product/rundetomaterøko.jpeg);
}

.GridContainerEco .GridItem:nth-child(5) {
  background-image: url(img/product/sanmarzanoeco.jpeg);
}

.GridContainerEco .GridItem:nth-child(6) {
  background-image: url(img/product/cherrytomaterpåstilkeco.jpeg);
}

.GridContainerEco .GridItem:nth-child(7) {
  background-image: url(img/product/cherrytomaterloseeco.jpeg);
  height: 125px;
}

.GridContainerEco .GridItem:nth-child(8) {
  background-image: url(img/product/intensitytomatereco.jpeg);
}

.GridContainerEco .GridItem:nth-child(9) {
  background-image: url(img/product/katrineogalfredsagurkereco.jpeg);
}

.GridContainerEco .GridItem:nth-child(10) {
  background-image: url(img/product/fravalgtetomatereco.jpeg);
}

.GridContainerEco .GridItem:nth-child(11) {
  background-image: url(img/product/fravalgteagurkereco.jpeg);
}


.ShopAllProducts {
  text-align: center;
  margin-bottom: 20px;
}

.GridContainerAllProduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;; /* Three columns of equal width */
  grid-gap: 10px; /* Spacing between grid items */
  margin-left: 145px;
  margin-right: 145px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.GridContainerAllProduct .GridItem:nth-child(1) {
  background-image: url(img/product/annatomatereco.jpeg);
height: 125px;
}


.GridContainerAllProduct .GridItem:nth-child(2) {
  background-image: url(img/product/tomataugust.jpeg)
}


.GridContainerAllProduct .GridItem:nth-child(3) {
  background-image: url(img/product/satmmeagurkeco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(4) {
  background-image: url(img/product/rundetomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(5) {
  background-image: url(img/product/sanmarzanoeco.jpeg);
}

.GridContainerAllProduct .GridItem:nth-child(6) {
  background-image: url(img/product/cherrytomaterpåstilkeco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(7) {
  background-image: url(img/product/cherrytomaterloseeco.jpeg);
  height: 125px;
}



.GridContainerAllProduct .GridItem:nth-child(8) {
  background-image: url(img/product/intensitytomatereco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(9) {
  background-image: url(img/product/katrineogalfredsagurkereco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(10) {
  background-image: url(img/product/fravalgtetomatereco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(11) {
  background-image: url(img/product/fravalgteagurkereco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(12) {
  background-image: url(img/product/idatomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(13) {
  background-image: url(img/product/rundetomater.jpeg);
  height: 125px;
}


.GridContainerAllProduct .GridItem:nth-child(14) {
  background-image: url(img/product/blommetomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(15) {
  background-image: url(img/product/sanmarzanotomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(16) {
  background-image: url(img/product/peberfrugtproduct.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(17) {
  background-image: url(img/product/palermosnackpeber.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(18) {
  background-image: url(img/product/ketchup.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(19) {
  background-image: url(img/product/pastasauce.jpeg);
  height: 125px;
}


.GridContainerAllProduct .GridItem:nth-child(20) {
  background-image: url(img/product/snackmix.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(21) {
  background-image: url(img/product/fravalgtetomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(22) {
  background-image: url(img/product/fravalgteagurker.jpeg);
}

.GridContainerAllProduct .GridItem:nth-child(23) {
  background-image: url(img/product/katrineogalfredsagurkereco.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(24) {
  background-image: url(img/product/katrineogalfredsclassictomater.jpeg);
}


.GridContainerAllProduct .GridItem:nth-child(25) {
  background-image: url(img/product/katrineogalfredspeberfrugter.jpeg);
  height: 125px;
}

